/* ==|====================
   Layout / Content
   ======================= */

#l-content {
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
