{% extends "@layouts/l00-preview/l00-preview.twig" %}

{% import _self as self %}

{% set variantName = "Default Variant 1" %}
{% set variantDescr = "test module" %}

{% macro main() %}
    {% import "@modules/m00-accordion/m00-accordion.twig" as accordion %}

    {% set content %}
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet..</p>
    {% endset %}

    {{ accordion.main('Accordion Variant 1', false, content) }}
{% endmacro %}

{% block preview %}
  {{ self.main() }}
{% endblock %}
