/* ==|====================
  Preview Base
======================= */

@import "../../node_modules/spinkit/scss/spinners/3-wave";

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  body.preview.darkmode {
    @each $name, $color in $colors-dark {
      --#{$name}: #{$color};
    }
  }
}

::selection {
  color: var(--main-bright);
  background-color: var(--main-color);
}

body.preview {
  .leader-line {
    z-index: 100;
  }

  .tippy-tooltip.darvin-theme {
    background-color: var(--main-color);
    color: var(--main-bright);

    .tippy-content {
      font-size: rem(13);
    }
  }

  .tippy-tooltip.darvin-theme[data-animatefill] {
    background-color: transparent;
  }

  .tippy-tooltip.darvin-theme .tippy-backdrop {
    background-color: var(--main-color);
  }

  &.dependency-mode {
    .prev-m-index__minibtn[data-dep] {
      display: none;
    }
  }

  &.preview__content--off {
    &[data-active="source"] {
      .prev-m-overlay__item[data-source] {
        display: block;
      }

      .prev-m-servicenav__link--source {
        .prev-m-servicenav__linklbl {
          display: none;
        }

        .prev-m-servicenav__linklbl--active {
          display: flex;
          margin-top: 4px;
        }
      }
    }

    &[data-active="readme"] {
      .prev-m-overlay__item[data-readme] {
        display: block;
      }

      .prev-m-servicenav__link--readme {
        .prev-m-servicenav__linklbl {
          display: none;
        }
        .prev-m-servicenav__linklbl--active {
          display: flex;
          margin-top: 3px;
        }
      }
    }

    #l-content {
      display: none;
    }

    .prev-m-overlay {
      display: block;
    }
  }

  pre[class*="language-"] {
    padding: 1em;
    margin: 0 !important;
    border-radius: 0;
    font-family: $prev-font1;
  }

  .prev-h1 {
    @extend %header-base;
    margin: 0;
    padding: $space-medium 0;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;

    &.prev-m-index__title {
      margin: 0 0 1.5rem;
    }

    @media screen and (min-width: 42rem) {
      font-size: 24px;
    }
  }

  .prev-h2 {
    @extend %header-base;
    margin: 0;
    padding: $space-small 0;
    font-weight: 300;
    font-size: rem(14);
    line-height: 1.2;

    &.prev-m-index__title {
      margin: 0 0 1rem;
    }

    @media screen and (min-width: 42rem) {
      font-size: rem(22);
    }
  }
}

.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
  z-index: 0;
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);

  .is-loaded & {
    display: none;
  }
}
