/* ==|====================
   Components / Accordion
   ======================= */

$accordion-spacing: 12px;

.m-accordion {
  width: 100%;
  padding-bottom: rem(56px);

  &.is-open {
     > .trigger {
      .acc-icon {
        &:after {
          opacity: 1;
          transition: opacity 140ms ease-in-out;
        }
        .icon {
          transform: rotate(-180deg);

          fill: white;
        }
      }

      .default-label {
        color: $color5;
      }
    }

     > .contentbox {
      height: auto;

       > .content {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }

   + .m-accordion {
    margin-top: calc(#{rem(-56px)} - 1px);
  }

  .default-label {
    font-weight: 700;
    font-size: rem(21px);
    line-height: 1.4;
    color: #0c0c0c;
    text-transform: uppercase;
  }

  .trigger {
    position: relative;
    display: flex;
    width: 100%;
    padding-left: rem($accordion-spacing);
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    cursor: pointer;
  }

  .label-wrapper {
    position: relative;
    flex: 1;
    padding: rem(20px) rem(20px) rem(20px) 0;
    user-select: none;
  }

  .acc-icon {
    position: relative;
    display: flex;
    flex: 0 0 rem(70px);
    justify-content: center;
    align-items: center;
    border-left: 1px solid #cccccc;
    transition: background 140ms ease-out;

    .icon {
      position: relative;
      z-index: 2;
      display: block;
      width: rem(16px);
      height: rem(16px);
      transform: rotate(0deg);
      transform-origin: 50% 50%;
      transition: transform 140ms ease-out, fill 140ms ease-out;

      fill: #000000;
    }

    &:after {
      content: " ";
      position: absolute;
      top: -1px;
      right: 0;
      bottom: -1px;
      left: -1px;
      background-color: $color5;
      border: 1px solid $color4;
      opacity: 0;
      transition: opacity 180ms ease-out;
    }
  }

  .contentbox {
    height: 0;
    overflow: hidden;
    transition: height 80ms linear;

    &.no-transition {
      transition: none;
    }
  }

  .content {
    padding: rem($accordion-spacing) rem($accordion-spacing) 0 rem($accordion-spacing);
    transform: translateY(-10px);
    opacity: 0;
    transition: transform 60ms ease-out, opacity 180ms ease-out;
  }
}
