{% extends "layouts/l02-webfonts/l02-index.njk" %}

{% set title = 'Webfonts Loading API' %}

{% block content %}
  <h1>Duis nulla nostrud ut enim occaecat duis deserunt pariatur enim sint.</h1>
  <p>Commodo officia sunt adipisicing labore do. Cupidatat laborum duis non nisi culpa ullamco.</p>
{% endblock %}