{% extends "layouts/l00-preview/l00-preview.njk" %}

{% import "modules/m04-manual/m04-manual.njk" as mainTemplate %}

{% set variantName = "Default Variant" %}
{% set variantDescr = "default description" %}

{% macro main() %}
  <!-- START Preview - m04-manual -->
  {{ mainTemplate.main(html=markup()) }}
  <!-- END Preview - m04-manual -->
{% endmacro %}

{% macro markup() %}
<section id="contrib" class="doc-section">
  <h3>Author</h3>
  <p><a href="mailto:tobias.frei@unic.com">Tobias Frei</a>, Unic AG</p>
  <h3>Contribution</h3>
  <p><a href="https://github.com/christiansany" target="_blank">Christian Sany</a>, <a href="https://github.com/SimpleDay" target="_blank">Pascal Giehl</a>, <a href="https://github.com/kuschti" target="_blank">Pascal Kuster</a>, <a href="https://github.com/neno" target="_blank">Nenad Brcic</a></p>
  <h5>Shader Example</h5>
  <p>fragment code partly based on srtuss example (shadertoy)</p>
  <h3>Repo</h3>
  <p>https://github.com/unic/darvin-webpack-boilerplate</p>

  <h3>Links</h3>
  <ul class="linklist">
    <li><a href="https://unic.com" target="_blank">unic.com</a></li>
    <li><a href="https://github.com/unic/estatico-nou" target="_blank">estatico nou boilerplate</a></li>
    <li><a href="https://www.accessibility-developer-guide.com" target="_blank">accessibility-developer-guide.com</a></li>
    <li><a href="https://webglfundamentals.org" target="_blank">webglfundamentals.org</a></li>
  </ul>
</section><!--//doc-section-->
{% endmacro %}

{% block preview %}
  {{ main() }}
{% endblock %}
