{% extends "layouts/l00-preview/l00-index-plain.njk" %}

{% set title = 'Custom Preview' %}


{% block preview %}

  <div class="prev-m-index">

  {% for category, catObj in darvin.index.payload %}
    <div class="prev-m-index__col prev-m-index--{{category}}">
      <h2 class="prev-m-index__title prev-h2">{{category}}</h2>
      <div class="prev-m-index__items">

      {% for itemKey, item in catObj %}
        <article class="prev-m-index__item" data-name="{{ item.name }}" data-type="{{ item.type }}" data-path="{{ item.path }}" data-dep="{{ item.dep }}">
          {% set name = item.name.split('-') %}
          {% if item.variants > 0 %}
          <a class="prev-m-index__itemtitle" href="{{ item.path }}/{{ item.previews[0] }}.html"><span>{{ name[1] }}</span></a>
          {% else %}
          <span class="prev-m-index__itemtitle"><span>{{ name[1] }}</span></span>
          {% endif %}
          <footer class="prev-m-index__itemfooter">
            <div class="prev-m-index__itemrow">
              <div class="prev-m-index__number" data-number="{{ name[0] }}"></div>
            </div>
            <div class="prev-m-index__itemrow">
              {% if item.config.design.length > 2 %}
              <a class="prev-m-index__speclink prev-m-index__flag prev-m-index__flag--design" href="{{ item.config.design }}" target="_blank">D</a>
              {% endif %}
              {% if item.config.jira.length > 2 %}
              <a class="prev-m-index__speclink prev-m-index__flag prev-m-index__flag--jira" href="{{ item.config.jira }}" target="_blank">J</a>
              {% endif %}
              {% if item.config.confluence.length > 2 %}
              <a class="prev-m-index__speclink prev-m-index__flag prev-m-index__flag--confluence" href="{{ item.config.confluence }}" target="_blank">C</a>
              {% endif %}
            </div>
          </footer>

        </article>
      {% endfor %}

      </div>
    </div>
  {% endfor %}

  </div>
{% endblock %}
