{% extends "layouts/l00-preview/l00-preview.njk" %}

{% import "modules/m01-toggle/m01-toggle.njk" as mainTemplate %}

{% set variantName = "Default Variant" %}
{% set variantDescr = "default description" %}

{% macro main() %}
  <!-- START Preview - m01-toggle -->
  {{ mainTemplate.main() }}
  <!-- END Preview - m01-toggle -->
{% endmacro %}

{% block preview %}
  {{ main() }}
{% endblock %}
