/* ==|==================
   Tools / Placeholders
   ===================== */

%antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

%font-title {
  font-weight: 500;
  font-family: $prev-font1;
  font-style: italic;
}

%paragraph-base {
  @extend %antialiased;

  font-weight: 400;
  font-weight: 400;
  font-size: rem(16);
  line-height: 1.2;
  font-family: $prev-font1;
  color: rgba($color-main-3, 0.5);
  letter-spacing: 0.025rem;

  @media #{$medium-up} {
    font-size: rem(19);
  }
}

%label-base {
  @extend %antialiased;

  font-weight: 400;
  font-size: rem(13);
  line-height: 1.3;
  color: $color-main-3;
}

%text-base-small {
  @extend %antialiased;

  font-weight: 600;
  font-size: rem(14);
  color: $color-main-3;
}

%text-base-large {
  @extend %antialiased;

  font-weight: 400;
  font-size: rem(17);
  line-height: 1.275;
  color: $color-main-3;
}

%nav {
  @extend %antialiased;

  font-weight: 600;
  font-size: rem(16);
  line-height: 1.275;
  color: $color-main-3;

  @media #{$wide-up} {
    font-size: rem(18);
  }

  @media #{$ultra-up} {
    font-size: rem(20);
  }
}

%header-base {
  @extend %antialiased;

  font-family: $prev-font1;
}

%ul-unstyled {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%clean-button {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
}

%pseudoreset {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  opacity: 0;
}
