{#
    Modules m02-footer
    Demo Usage
#}

{% macro main() %}
  <!-- START - m02-footer -->
    <div class="m-footer">
      <div class="l-constrainer">
        v2.0.3
      </div>
    </div>
  <!-- END - m02-footer -->
{% endmacro %}
