/* ==|====================
   Modules / m01-header
======================= */

.header {
  background-color: rgba(0, 0, 0, 0.86);
  position: fixed;
  z-index: 1;
  width: 100%;

  .l-constrainer {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
  }

  .logo {
    width: rem(60);
  }

  .header__nav {
    display: inline-flex;
    list-style: none;
    height: rem(44);
    width: 100%;
    justify-content: space-around;

    @include media-breakpoint-up(large) {
      justify-content: flex-start;
      width: auto;
    }
  }

  .header__navitem {
    a {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $color-secondary-1;
      text-decoration: none;
      padding: 0 rem(7);

      &.is-active {
        background-color: rgba(255, 255, 255, 0.3);
      }

      @include hover('.is-disabled') {
        background-color: rgba(255, 255, 255, 0.1);
      }

      @include media-breakpoint-up(large) {
        padding: 0 rem(16);
      }
    }
  }
}
