{#
    Modules m01-header
    Demo Usage
#}

{% macro main(title = 'Darvin Boilerplate') %}
  <!-- START - m01-header -->
    <div class="m-header header">
      <div class="l-constrainer">
        <ul class="header__nav">
          {{ navitem(title = 'Install', id = 'install', href = '#install') }}
          {{ navitem(title = 'Startup', id = 'startup', href = '#startup') }}
          {{ navitem(title = 'Publish', id = 'publish', href = '#publish') }}
          {{ navitem(title = 'Loaders', id = 'loaders', href = '#loaders') }}
          {{ navitem(title = 'Settings', id = 'settings', href = '#settings') }}
          {{ navitem(title = 'CLI', id = 'cli', href = '#cli') }}
          {{ navitem(title = 'Develop', id = 'develop', href = '#develop') }}
        </ul>
      </div>
    </div>
  <!-- END - m02-header -->
{% endmacro %}

{% macro navitem(href = '#', id = '', title = 'Item') %}
    <li class="header__navitem"><a data-id="{{ id }}" href="{{ href }}">{{ title }}</a></li>
{% endmacro %}