/* ==|====================
   Settings / Fonts
   ======================= */

@font-face {
  font-weight: 400;
  font-family: Roboto;
  font-style: normal;
  src: url('../assets/fonts/roboto-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  font-style: normal;
  src: url('../assets/fonts/roboto-v18-latin-700.woff2') format('woff2');
}
