/* ==|====================
   Settings / Breakpoints
   ======================= */

//== Variables
//
$screen-micro: rem(375);
$screen-small: rem(540);
$screen-medium: rem(768);
$screen-large: rem(1024);
$screen-wide: $max-container-width; // rem(1420)
$screen-ultra: rem(1920);

//== keywords
//
$zero: 'only screen';
$micro: 'only screen and (min-width: #{em($screen-micro)})';
$small: 'only screen and (min-width: #{em($screen-small)})';
$medium: 'only screen and (min-width: #{em($screen-medium)})';
$large: 'only screen and (min-width: #{em($screen-large)})';
$wide: 'only screen and (min-width: #{em($screen-wide)})';
$ultra: 'only screen and (min-width: #{em($screen-ultra)})';

//== keywords range
//
$zero-up: $zero;
$zero-only: '#{$zero} and (max-width: #{em($screen-micro - XTFR)})';
$micro-up: $micro;
$micro-down: '(max-width: #{em($screen-micro - XTFR)})';
$micro-only: '#{$micro} and (max-width: #{em($screen-small - XTFR)})';
$small-up: $small;
$small-down: '(max-width: #{em($screen-small - XTFR)})';
$small-only: '#{$small} and (max-width: #{em($screen-medium - XTFR)})';
$medium-up: $medium;
$medium-down: '(max-width: #{em($screen-medium - XTFR)})';
$medium-only: '#{$medium} and (max-width:#{em($screen-large - XTFR)})';
$large-up: $large;
$large-down: '(max-width: #{em($screen-large - XTFR)})';
$large-only: '#{$large} and (max-width:#{em($screen-wide - XTFR)})';
$wide-up: $wide;
$wide-down: '(max-width: #{em($screen-wide - XTFR)})';
$wide-only: '#{$wide} and (max-width:#{em($screen-ultra - XTFR)})';
$ultra-up: $ultra;

//== define mobile breakpoint
//
$mobilenav: $large-up;
