@charset "UTF-8";

/* ==|====================
   Settings / Preview Icons
   * https://glyphter.com/
   ======================= */

[class*='i-']::before {
  display: inline-block;
  margin-top: rem(2.5);
  font-weight: normal;
  font-size: rem(14);
  line-height: 1;
  font-family: 'preview';
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.i-git::before {
  content: '\0041';
}

.i-chart::before {
  content: '\0042';
}

.i-night::before {
  content: '\0043';
}

.i-nav::before {
  content: '\0044';
}

.i-shuffle::before {
  content: '\0045';
}

.i-search::before {
  content: '\0046';
}

.i-star::before {
  content: '\0047';
}

.i-sun::before {
  content: '\0048';
}

.i-settings::before {
  content: '\0049';
}

.i-branch::before {
  content: '\004a';
}

.i-push::before {
  content: '\004b';
}

.i-pull::before {
  content: '\004c';
}

.i-commit::before {
  content: '\004d';
}

.i-speed::before {
  content: '\004e';
}

.i-reload::before {
  content: '\004f';
}

.i-home::before {
  content: '\0050';
}

.i-download::before {
  content: '\0051';
}

.i-dots::before {
  content: '\0052';
}

.i-close::before {
  content: '\0053';
}

.i-speech::before {
  content: '\0054';
}

.i-export::before {
  content: '\0055';
}

.i-splash::before {
  content: '\0056';
}

.i-plussquare::before {
  content: '\0057';
}

.i-plus::before {
  content: '\0058';
}

.i-attach::before {
  content: '\0059';
}

.i-quote::before {
  content: '\005a';
}

.i-rocket::before {
  content: '\0061';
}

.i-settings::before {
  content: '\0062';
}

.i-batch::before {
  content: '\0063';
}

.i-puzzle::before {
  content: '\0064';
}

.i-label::before {
  content: '\0065';
}

.i-male::before {
  content: '\0066';
}

.i-female::before {
  content: '\0067';
}

.i-target::before {
  content: '\0068';
}

.i-question::before {
  content: '\0069';
}

.i-maximize::before {
  content: '\006a';
}

.i-pen::before {
  content: '\006b';
}

.i-collapsible::before {
  content: '\006c';
}

.i-unlock::before {
  content: '\006d';
}

.i-lock::before {
  content: '\006e';
}

.i-cards::before {
  content: '\006f';
}

.i-link::before {
  content: '\0070';
}

.i-idea::before {
  content: '\0071';
}

.i-info::before {
  content: '\0072';
}

.i-db::before {
  content: '\0073';
}

.i-source::before {
  content: '\0074';
}

.i-time::before {
  content: '\0075';
}

.i-refresh::before {
  content: '\0076';
}

.c-icon {
  width: rem(16);
  height: rem(16);
  fill: none;
  stroke-width: rem(2);
  stroke: var(--color-main-6blue);

  @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
    width: rem(16);
    height: rem(16);
  }

  &.c-icon--8 {
    width: rem(9);
    height: rem(9);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(8);
      height: rem(8);
    }
  }

  &.c-icon--16 {
    width: rem(17);
    height: rem(17);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(16);
      height: rem(16);
    }
  }

  &.c-icon--20 {
    width: rem(21);
    height: rem(21);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(20);
      height: rem(20);
    }
  }

  &.c-icon--24 {
    width: rem(25);
    height: rem(25);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(24);
      height: rem(24);
    }
  }

  &.c-icon--28 {
    width: rem(29);
    height: rem(29);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(28);
      height: rem(28);
    }
  }

  &.c-icon--32 {
    width: rem(33);
    height: rem(33);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(32);
      height: rem(32);
    }
  }

  &.c-icon--40 {
    width: rem(41);
    height: rem(41);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(40);
      height: rem(40);
    }
  }

  &.c-icon--48 {
    width: rem(49);
    height: rem(49);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(48);
      height: rem(48);
    }
  }

  &.c-icon--64 {
    width: rem(65);
    height: rem(65);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(64);
      height: rem(64);
    }
  }

  &.c-icon--96 {
    width: rem(97);
    height: rem(97);

    @media (-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi) {
      width: rem(96);
      height: rem(96);
    }
  }
}
