@charset "UTF-8";

/* ==|====================
   Settings / Preview Icons
   * https://glyphter.com/
   ======================= */

[class*="i-"]::before {
  display: inline-block;
  margin-top: 2.5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 1;
  font-family: "preview";
  font-style: normal;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.i-git::before {
  content: "\0041";
}
.i-chart::before {
  content: "\0042";
}
.i-night::before {
  content: "\0043";
}
.i-nav::before {
  content: "\0044";
}
.i-shuffle::before {
  content: "\0045";
}
.i-search::before {
  content: "\0046";
}
.i-star::before {
  content: "\0047";
}
.i-sun::before {
  content: "\0048";
}
.i-settings::before {
  content: "\0049";
}
.i-branch::before {
  content: "\004a";
}
.i-push::before {
  content: "\004b";
}
.i-pull::before {
  content: "\004c";
}
.i-commit::before {
  content: "\004d";
}
.i-speed::before {
  content: "\004e";
}
.i-reload::before {
  content: "\004f";
}
.i-home::before {
  content: "\0050";
}
.i-download::before {
  content: "\0051";
}
.i-dots::before {
  content: "\0052";
}
.i-close::before {
  content: "\0053";
}
.i-speech::before {
  content: "\0054";
}
.i-export::before {
  content: "\0055";
}
.i-splash::before {
  content: "\0056";
}
.i-plussquare::before {
  content: "\0057";
}
.i-plus::before {
  content: "\0058";
}
.i-attach::before {
  content: "\0059";
}
.i-quote::before {
  content: "\005a";
}
.i-rocket::before {
  content: "\0061";
}
.i-settings::before {
  content: "\0062";
}
.i-batch::before {
  content: "\0063";
}
.i-puzzle::before {
  content: "\0064";
}
.i-label::before {
  content: "\0065";
}
.i-male::before {
  content: "\0066";
}
.i-female::before {
  content: "\0067";
}
.i-target::before {
  content: "\0068";
}
.i-question::before {
  content: "\0069";
}
.i-maximize::before {
  content: "\006a";
}
.i-pen::before {
  content: "\006b";
}
.i-collapsible::before {
  content: "\006c";
}
.i-unlock::before {
  content: "\006d";
}
.i-lock::before {
  content: "\006e";
}
.i-cards::before {
  content: "\006f";
}
.i-link::before {
  content: "\0070";
}
.i-idea::before {
  content: "\0071";
}
.i-info::before {
  content: "\0072";
}
.i-db::before {
  content: "\0073";
}
.i-source::before {
  content: "\0074";
}
.i-time::before {
  content: "\0075";
}
.i-refresh::before {
  content: "\0076";
}
