{% extends "layouts/l00-preview/l00-preview.njk" %}

{% import "modules/m01-grid-demo/m01-grid-demo.njk" as mainTemplate %}

{% set variantName = "Default Variant" %}
{% set variantDescr = "default description" %}

{% macro main() %}
  <!-- START Preview - m01-grid-demo -->
  {{ mainTemplate.main() }}
  <!-- END Preview - m01-grid-demo -->
{% endmacro %}

{% block preview %}
  {{ main() }}
{% endblock %}
