/* ==|====================
   Layout / Footer
   ======================= */

#prev-l-footer {
  height: 2rem;
  background-color: var(--main-bg);
  border-top: 2px solid var(--main-bg-dark);
}
