/* ==|====================
   Layout / Main
   ======================= */

.l-main--preview {
  margin-top: 4rem;

  .preview--index & {
    background-color: var(--main-bg);
  }

  .dependency-mode & {
    background-color: var(--dependency-bg);
  }
}

#prev-l-main {
  flex: 1;
}
