/* ==|===
   Main
   ====== */

$output-bourbon-deprecation-warnings: false;

// Assets
@import "../../node_modules/bourbon/core/bourbon";
@import "../../node_modules/normalize.css/normalize";
@import "tools/functions";
@import "settings/settings";

// Settings
@import "settings/breakpoints";
@import "settings/fonts";
@import "../templates/components/c02-grid";
@import "settings/sprites";

// Tools
@import "tools/placeholders";
@import "tools/mixins";
@import "tools/transitions";
@import "tools/helpers";

// Base
@import "base/base";

// Layout
@import "layout/pagewrapper";
@import "layout/header";
@import "layout/content";
@import "layout/footer";
@import "layout/sidebar";
@import "layout/main";

// Components

// Modules
@import "../templates/modules/m01-accordion";
