/* ==|====================
   Modules / Filterbar
   ======================= */

.prev-m-filterbar {
  display: flex;
  font-family: $prev-font1;

  .check {
    position: relative;
    width: 18px;
    height: 18px;
    margin: auto;
    transform: translate3d(0, 0, 0);
    cursor: pointer;

    -webkit-tap-highlight-color: transparent;

    &::before {
      content: "";
      position: absolute;
      top: -13px;
      left: -17px;
      width: 48px;
      height: 48px;
      background: rgba(var(--main-ambiance), 0.05);
      border-radius: 50%;
      opacity: 0;
      transition: opacity 0.2s ease;
    }

    svg {
      position: relative;
      z-index: 1;
      transform: translate3d(0, 0, 0);
      transition: all 0.2s ease;

      fill: none;
      stroke: #c8ccd4;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;

      path {
        stroke-dasharray: 60;
        stroke-dashoffset: 0;
      }
      polyline {
        stroke-dasharray: 22;
        stroke-dashoffset: 66;
      }
    }

    &:hover {
      &::before {
        opacity: 1;
      }
      svg {
        stroke: var(--main-color);
      }
    }
  }

  .prev-m-filterbar__input:checked + .check {
    svg {
      stroke: var(--main-color);

      path {
        transition: all 0.3s linear;

        stroke-dashoffset: 60;
      }
      polyline {
        transition: all 0.2s linear;
        transition-delay: 0.15s;

        stroke-dashoffset: 42;
      }
    }
  }
}

.prev-m-filterbar__categories {
  display: flex;
  padding: 0 1rem;
}

.prev-m-filterbar__search {
  position: relative;
  margin: 0 3rem 0 1rem;

  input {
    height: 100%;
    padding: 3px 8px 4px;
    font-weight: 400;
    color: var(--main-shadow);
    letter-spacing: 1px;
    background-color: transparent;
    border: 2px solid var(--main-bg);
    border-radius: 4px;

    &:focus,
    &:hover {
      border-color: var(--main-color);
      outline: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--main-ambiance), 0.05);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.2s ease;
    pointer-events: none;
  }

  &:hover {
    &::before {
      opacity: 1;
    }
  }
}

.prev-m-filterbar__category {
  position: relative;
  padding-right: 1.5rem;
}

.prev-m-filterbar__lbl {
  font-weight: 400;
  font-size: 16px;
  color: var(--main-shadow);
  user-select: none;

  span {
    padding-left: 0.125rem;
    line-height: 1;
  }

  svg {
    top: 4px;
  }
}

.prev-m-filterbar__input {
  display: none;
}

.prev-m-filterbar__mode {
  display: flex;
  align-items: center;
}

.prev-m-filterbar__modeinput {
  display: none;
}

.prev-m-filterbar__modelbl {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(26);
  height: rem(26);
  padding-top: 4px;
  color: var(--main-button-text);
  background: var(--main-button);
  border-radius: 50%;
  cursor: pointer;
}
