/* ==|====================
   Modules / Flexgrid
   ======================= */

.darvin-prev-flexgrid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2rem;
}

.darvin-prev-flexgrid__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: rem(140);
  padding: 1rem;

  span {
    display: block;
    width: 100%;
    padding-top: rem(3);
    font-size: rem(12);
    text-align: center;
  }
}

.darvin-prev-flexgrid__iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(100);
  height: rem(100);
  overflow: hidden;

  &:hover {
    background-color: darken(#fff, 4);
  }

  &:focus {
    background-color: darken(#fff, 4);
    border: 0;
    outline: 0;
    box-shadow: none;
  }

  input {
    position: absolute;
    top: -30%;
    font-size: rem(7);
  }

  svg.c-icon {
    margin-right: 0;

    body.preview & {
      width: rem(50);
      height: rem(50);
    }
  }
}

.darvin-prev-flexgrid__colorbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: rem(100);
  height: rem(120);
  overflow: hidden;
  position: relative;
  flex-direction: column;

  &:focus {
    background-color: darken(#fff, 4);
    border: 0;
    outline: 0;
    box-shadow: none;
  }

  input {
    position: absolute;
    top: -30%;
    font-size: rem(7);
  }
}

.darvin-prev-flexgrid__colorboxbval {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  width: rem(100);
  height: rem(100);
}

.darvin-prev-flexgrid__colorboxlabel {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: rem(11);
}

.darvin-prev-flexgrid__item.icontest {
  width: 25%;

  a {
    margin: 1rem 0;
    text-decoration: none;
    font-family: 'MuseoSans';
  }

  .eight-px & {
    .c-icon {
      @extend .c-icon--8;
    }

    a {
      font-size: rem(14);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('14', '8', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('14', '8', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('14', '8', '700');
        }
      }
    }
  }

  .sixteen-px & {
    .c-icon {
      @extend .c-icon--16;
    }

    a {
      font-size: rem(14);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('14', '16', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('14', '16', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('14', '16', '700');
        }
      }
    }
  }

  .sixteen2-px & {
    .c-icon {
      @extend .c-icon--16;
    }

    a {
      font-size: rem(16);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('16', '16', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('16', '16', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('16', '16', '700');
        }
      }
    }
  }

  .sixteen3-px & {
    .c-icon {
      @extend .c-icon--16;
    }

    a {
      font-size: rem(18);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('18', '16', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('18', '16', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('18', '16', '700');
        }
      }
    }
  }

  .twenty-px & {
    .c-icon {
      @extend .c-icon--20;
    }

    a {
      font-size: rem(18);
      color: white;

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('18', '20', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('18', '20', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('18', '20', '700');
        }
      }
    }
  }

  .twentyfour-px & {
    .c-icon {
      @extend .c-icon--24;
    }

    a {
      font-size: rem(14);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('14', '24', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('14', '24', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('14', '24', '700');
        }
      }
    }
  }

  .twentyfour2-px & {
    .c-icon {
      @extend .c-icon--24;
    }

    a {
      font-size: rem(16);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('16', '24', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('16', '24', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('16', '24', '700');
        }
      }
    }
  }

  .twentyfour3-px & {
    .c-icon {
      @extend .c-icon--24;
    }

    a {
      font-size: rem(18);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('18', '24', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('18', '24', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('18', '24', '700');
        }
      }
    }
  }

  .twentyfour4-px & {
    .c-icon {
      @extend .c-icon--24;
    }

    a {
      font-size: rem(20);

      &:nth-child(1) {
        font-weight: 300;

        .c-icon {
          stroke-width: get-stroke('20', '24', '300');
        }
      }

      &:nth-child(2) {
        font-weight: 500;

        .c-icon {
          stroke-width: get-stroke('20', '24', '500');
        }
      }

      &:nth-child(3) {
        font-weight: 700;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('20', '24', '700');
        }
      }
    }
  }

  .twentyfour5-px & {
    .c-icon {
      @extend .c-icon--24;
    }

    a {
      font-size: rem(24);

      &:nth-child(1) {
        font-weight: get-stroke('24', '24', '700');
        font-family: 'Museo';

        .c-icon {
          stroke-width: rem(2.5);
        }
      }
    }
  }

  .thirtytwo-px & {
    .c-icon {
      @extend .c-icon--32;
    }

    a {
      font-size: rem(28);

      &:nth-child(1) {
        font-weight: 500;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('28', '32', '300');
        }
      }
    }
  }

  .fourty-px & {
    .c-icon {
      @extend .c-icon--40;
    }

    a {
      font-size: rem(32);

      &:nth-child(1) {
        font-weight: 500;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('32', '40', '300');
        }
      }
    }
  }

  .fourtyeight-px & {
    .c-icon {
      @extend .c-icon--48;
    }

    a {
      font-size: rem(40);

      &:nth-child(1) {
        font-weight: 500;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('40', '48', '300');
        }
      }
    }
  }

  .fourtyeight2-px & {
    .c-icon {
      @extend .c-icon--48;
    }

    a {
      font-size: rem(48);

      &:nth-child(1) {
        font-weight: 500;
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('48', '48', '300');
        }
      }
    }
  }

  .sixtyfour-px & {
    .c-icon {
      @extend .c-icon--64;
    }

    a {
      font-size: rem(18);
      color: white;

      &:nth-child(1) {
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('18', '64', '300');
        }
      }
    }
  }

  .ninetysix-px & {
    .c-icon {
      @extend .c-icon--96;
    }

    a {
      font-size: rem(18);
      color: white;

      &:nth-child(1) {
        font-family: 'Museo';

        .c-icon {
          stroke-width: get-stroke('18', '96', '300');
        }
      }
    }
  }

  .all-px & {
    a {
      &:nth-child(1) {
        .c-icon {
          width: rem(8);
          height: rem(8);
          stroke-width: 1px;
        }
      }

      &:nth-child(2) {
        .c-icon {
          width: rem(16);
          height: rem(16);
          stroke-width: rem(1.25);
        }
      }

      &:nth-child(3) {
        .c-icon {
          width: rem(20);
          height: rem(20);
          stroke-width: rem(1.5);
        }
      }

      &:nth-child(4) {
        .c-icon {
          width: rem(24);
          height: rem(24);
          stroke-width: rem(1.5);
        }
      }

      &:nth-child(5) {
        .c-icon {
          width: rem(32);
          height: rem(32);
          stroke-width: rem(1.5);
        }
      }

      &:nth-child(6) {
        .c-icon {
          width: rem(40);
          height: rem(40);
          stroke-width: rem(1.5);
        }
      }

      &:nth-child(7) {
        .c-icon {
          width: rem(48);
          height: rem(48);
          stroke-width: rem(1.75);
        }
      }

      &:nth-child(8) {
        .c-icon {
          width: rem(64);
          height: rem(64);
          stroke-width: rem(2);
        }
      }

      &:nth-child(9) {
        .c-icon {
          width: rem(96);
          height: rem(96);
          stroke-width: rem(4);
        }
      }
    }
  }
}
