{% extends "layouts/l01-default/l01-default.njk" %}

{% set title = 'Preview Test Page' %}

{% block content %}
  <button data-module="button">Hello</button>
  <button data-module="button">World</button>

  <div data-module="vue-module">
    <p v-html="options.foo">Loading...</p>
  </div>

  <div data-module="vue-module" data-vue-module-options='{"foo": "bar overwrite"}'>
    <p v-html="options.foo">Loading...</p>
  </div>

  <div style="height: 200vh;"></div>

  <div data-module="lazy-module">Lazy...</div>

  <p>Combine Modules:</p>

  <button data-module="button lazy-module">Lazy...</button>

  <div style="height: 200vh;"></div>
{% endblock %}
