{#
    @@@cat@@@ @@@name@@@
    @@@authorName@@@ - @@@authorEmail@@@
#}

{% macro main(label='', classes = false) %}
    <!-- START - @@@name@@@ -->
      <p>@@@cat@@@/@@@name@@@</p>
    <!-- END - @@@name@@@ -->
{% endmacro %}
