{% extends "@layouts/l00-preview/l00-preview.twig" %}
{% import _self as self %}

{% set variantName = "Sprite Overview" %}
{% set variantDescr = "Project Icons" %}

{% macro main() %}
  {% import "@components/c01-svg_icon/c01-svg_icon.twig" as svgIcon %}
  <div class="m-prev-flexgrid m-prev-icons" data-module="lazy-prev-icons">
    {% for name in sprite.icons %}
      <div class="m-prev-flexgrid__item">
        <a tabindex="0" class="m-prev-flexgrid__iconbox">
          {{ svgIcon.main(name) }}
          <input type="text" value='svgIcon.main(icon="{{name}}" )'>
        </a>
        <span>{{ name }}</span>
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% block preview %}
  {{ self.main() }}
{% endblock %}
