<!DOCTYPE html>
<html class="no-js" lang="de">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ title }}</title>
    <script>
      (function () {
        const html = document.documentElement;
        const fontsClass = 'wf-active';

        if (sessionStorage.fontsLoaded) {
          html
            .classList
            .add(fontsClass);
        } else {
          const script = document.createElement("script");
          script.src = "https://cdnjs.cloudflare.com/ajax/libs/fontfaceobserver/2.1.0/fontfaceobserver.js";
          script.async = true;
          script.onload = function () {
            const fontFamily = 'Merriweather';
            const regular = new FontFaceObserver(fontFamily);
            const bold = new FontFaceObserver(fontFamily, {weight: 'bold'});
            const italic = new FontFaceObserver(fontFamily, {style: 'italic'});

            Promise
              .all([regular.load(), bold.load(), italic.load()])
              .then(function () {
                html
                  .classList
                  .add(fontsClass);
                sessionStorage.fontsLoaded = true;
              });
          }
          document
            .head
            .appendChild(script);
        }
      })();
    </script>
    <meta name="description" content="Lorem description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ darvin.server.base }}{{ darvin.server.assets }}/images/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ darvin.server.base }}{{ darvin.server.assets }}/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ darvin.server.base }}{{ darvin.server.assets }}/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="{{ darvin.server.base }}{{ darvin.server.assets }}/images/favicons/site.webmanifest">
    <link rel="mask-icon" href="{{ darvin.server.base }}{{ darvin.server.assets }}/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta property="og:url" content="http://www.tobiasfrei.ch"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="title lorem"/>
    <meta property="og:description" content="lorem impsun"/>
    <meta property="og:image" content="https://www.tobiasfrei.ch"/>
    <meta property="og:locale" content="ch"/>
  </head>
  <body>
    <div id="l-pagewrapper">
      <!-- start main -->
      <main id="l-main">
        <div id="l-content">
          {% block content %}{% endblock %}
        </div>
      </main>
    </div>
  </body>
</html>