{% extends "layouts/l00-default/l00-default.njk" %}

{% import "modules/m00-accordion/m00-accordion.preview.1.njk" as accordion01 %}

{% set title = 'Preview Test Page' %}

{% block content %}
  {{ accordion01.main() }}
{% endblock %}
