/* ==|=================
   Tools / Transitions
   ==================== */

@keyframes zoomIn {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }

  100% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}
