{% extends "layouts/l00-preview/l00-preview.njk" %}

{% import "modules/m02-test/m02-test.njk" as mainTemplate %}

{% set variantName = "Default Variant" %}
{% set variantDescr = "default description" %}

{% macro main() %}
  <!-- START Preview - m02-test -->
  {{ mainTemplate.main() }}
  <!-- END Preview - m02-test -->
{% endmacro %}

{% block preview %}
  {{ main() }}
{% endblock %}
