{#
    Modules m02-test
    Tobias Frei - tobias.frei@unic.com
#}

{% macro main(label='', classes = false) %}
    <!-- START - m02-test -->
      <p>Modules/m02-test</p>
    <!-- END - m02-test -->
{% endmacro %}
