@font-face {
  font-family: "Merriweather";
  font-weight: normal;
  font-style: normal;
  src: local("Merriweather"),
    url("../assets/fonts/Merriweather-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: bold;
  font-style: normal;
  src: local("Merriweather"),
    url("../assets/fonts/Merriweather-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather";
  font-weight: normal;
  font-style: italic;
  src: local("Merriweather"),
    url("../assets/fonts/Merriweather-Italic.ttf") format("truetype");
}

html {

  h1,
  h2,
  h3,
  p,
  ul,
  li {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}

html.wf-active {

  h1,
  h2,
  h3,
  p,
  ul,
  li {
    font-family: "Merriweather", Georgia, "New Times Roman", serif;
    color: red;
  }
}
