@font-face {
  font-family: "Plex Serif";
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/IBMPlexSerif-Bold.woff2') format('woff');
}

@font-face {
  font-family: "Plex Serif";
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/IBMPlexSerif-Italic.woff2') format('woff');
}

@font-face {
  font-family: "Plex Serif";
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/IBMPlexSerif-Regular.woff2') format('woff');
}

html {
  h1,
  h2,
  h3,
  p,
  ul,
  li {
    font-family: $font-0;
  }
}

html.wf-active {

  h1,
  h2,
  h3,
  p,
  ul,
  li {
    font-family: $font-1;
    color: red;
  }
}
