/* ==|====================
   Tools / Grid
   ======================= */

%grid-row,
.grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: calc(100% + #{$gutter-zero});
  margin-right: $gutter-zero *- 1 / 2;
  margin-left: $gutter-zero *- 1 / 2;

  &.align-right {
    justify-content: flex-end;
  }

  &.align-left {
    justify-content: flex-start;
  }

  @media #{$micro-up} {
    width: calc(100% + #{$gutter-micro});
    margin-right: $gutter-micro *- 1 / 2;
    margin-bottom: $gutter-micro * 1 / 2;
    margin-left: $gutter-micro *- 1 / 2;
  }

  @media #{$small-up} {
    width: calc(100% + #{$gutter-small});
    margin-right: $gutter-small *- 1 / 2;
    margin-bottom: $gutter-small * 1 / 2;
    margin-left: $gutter-small *- 1 / 2;
  }

  @media #{$medium-up} {
    width: calc(100% + #{$gutter-medium});
    margin-right: $gutter-medium *- 1 / 2;
    margin-bottom: $gutter-medium * 1 / 2;
    margin-left: $gutter-medium *- 1 / 2;
  }

  @media #{$large-up} {
    width: calc(100% + #{$gutter-large});
    margin-right: $gutter-large *- 1 / 2;
    margin-bottom: $gutter-large * 1 / 2;
    margin-left: $gutter-large *- 1 / 2;
  }

  @media #{$wide-up} {
    width: calc(100% + #{$gutter-wide});
    margin-right: $gutter-wide *- 1 / 2;
    margin-bottom: $gutter-wide * 1 / 2;
    margin-left: $gutter-wide *- 1 / 2;
  }

  @media #{$ultra-up} {
    width: calc(100% + #{$gutter-ultra});
    margin-right: $gutter-ultra *- 1 / 2;
    margin-bottom: $gutter-ultra * 1 / 2;
    margin-left: $gutter-ultra *- 1 / 2;
  }

  &--centered {
    justify-content: center;
  }
}

%grid-col,
.grid-col {
  flex: 0 0 100%;
  max-width: 100%; // Necessary for IE 11 flexbox bug  min-height: 1px;
  margin-bottom: $gutter-zero;
  padding-right: $gutter-zero / 2;
  padding-left: $gutter-zero / 2;

  &.no-bottomspace {
    margin-bottom: 0;
  }

  @media #{$micro-up} {
    margin-bottom: $gutter-micro;
    padding-right: $gutter-micro / 2;
    padding-left: $gutter-micro / 2;
  }

  @media #{$small-up} {
    margin-bottom: $gutter-small;
    padding-right: $gutter-small / 2;
    padding-left: $gutter-small / 2;
  }

  @media #{$medium-up} {
    margin-bottom: $gutter-medium;
    padding-right: $gutter-medium / 2;
    padding-left: $gutter-medium / 2;
  }

  @media #{$large-up} {
    margin-bottom: $gutter-large;
    padding-right: $gutter-large / 2;
    padding-left: $gutter-large / 2;
  }

  @media #{$wide-up} {
    margin-bottom: $gutter-wide;
    padding-right: $gutter-wide / 2;
    padding-left: $gutter-wide / 2;
  }

  @media #{$ultra-up} {
    margin-bottom: $gutter-ultra;
    padding-right: $gutter-ultra / 2;
    padding-left: $gutter-ultra / 2;
  }
}

@for $i from 1 through 12 {
  .grid-col--zero-#{$i} {
    flex-basis: 100% / 12 * $i;
    max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
  }

  @media #{$zero-only} {
    .grid-col-zero--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}

@for $i from 1 through 12 {
  @media #{$micro-up} {
    .grid-col--micro-#{$i} {
      flex-basis: 100% / 12 * $i;
      max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
    }
  }

  @media #{$micro-only} {
    .grid-col-micro--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}

@for $i from 1 through 12 {
  @media #{$small-up} {
    .grid-col--small-#{$i} {
      flex-basis: 100% / 12 * $i;
      max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
    }
  }

  @media #{$small-only} {
    .grid-col-small--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}

@for $i from 1 through 12 {
  @media #{$medium-up} {
    .grid-col--medium-#{$i} {
      flex-basis: 100% / 12 * $i;
      max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
    }

    .grid-col-medium--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}

@for $i from 1 through 12 {
  @media #{$large-up} {
    .grid-col--large-#{$i} {
      flex-basis: 100% / 12 * $i;
      max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
    }

    .grid-col-large--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}

@for $i from 1 through 12 {
  @media #{$wide-up} {
    .grid-col--wide-#{$i} {
      flex-basis: 100% / 12 * $i;
      max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
    }

    .grid-col-wide--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}

@for $i from 1 through 12 {
  @media #{$ultra-up} {
    .grid-col--ultra-#{$i} {
      flex-basis: 100% / 12 * $i;
      max-width: 100% / 12 * $i; // Necessary for IE 11 flexbox bug
    }

    .grid-col-ultra--off-#{$i} {
      position: relative;
      left: 100% / 12 * $i;
    }
  }
}
