/* ==|====================
   Layout / Overlay
   ======================= */

.prev-m-overlay {
  display: none;
}

.prev-m-overlay__item {
  display: none;
  font-family: $prev-font2;

  &[data-readme] {
    padding: 2rem 1.75rem;

    p,
    li,
    a {
      font-size: 14px;
    }

    h1 {
      padding: 16px 0;
      font-size: 22px;
    }

    h2 {
      padding: 12px 0;
      font-size: 19px;
    }

    ul {
      padding-bottom: 1rem;
    }
  }
}
