/* ==|====================
   Layout / Overlay
   ======================= */

.prev-m-overlay {
  display: none;
}

.prev-m-overlay__item {
  display: none;

  &[data-readme] {
    padding: 2rem 1.75rem;

    p,
    li,
    a {
      font-size: 14px;
    }

    h1 {
      padding: 16px 0;
      font-size: 22px;
      margin-bottom: 0;
    }

    h2 {
      padding: 12px 0;
      font-size: 19px;
      margin-bottom: 0;
    }

    h3 {
      padding: 10px 0;
      font-size: 17px;
      margin-bottom: 0;
    }

    ul,
    ol {
      padding-bottom: 1rem;
      padding-left: 17px;
    }

    pre {
      background-color: lightgoldenrodyellow;
      padding: 4px;
      display: inline-block;
    }
  }
}
