/* ==|====================
   Layout / Title
   ======================= */

.prev-m-title {
  h1,
  h2 {
    padding: 0;
  }
}

.prev-m-title--column {
  h2 {
    font-size: 14px;
    letter-spacing: 0.025rem;
  }
}
