/* ==|============
   Tools / Mixins
   =============== */

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin grid($gap: null, $gap-outside: $grid-gap-outside) {
  @if $gap == null {
    $gap: $grid-gap;
  }

  display: grid;
  @if $gap != 0 {
    grid-gap: $gap;
  }
  @if $gap-outside != 0 {
    padding-left: $gap-outside;
    padding-right: $gap-outside;
  }
}
