{#
    Module Accordion
#}

{% macro main(label, classes, content) %}
  {% import _self as self %}
  {% import "@components/c00-svg_icon/c00-svg_icon.twig" as svgIcon %}

  <!-- m-Accordion Item -->
  <div class="m-accordion{% if classes %}{% for class in classes %} {{ class }}{% endfor %}{% endif %}" data-acc>
    <a class="trigger" data-acc-t>
      <div class="label-wrapper">
        {{ self.accordionLabel(label) }}
      </div>

      <div class="acc-icon">
        x
      </div>
    </a>

    <div class="contentbox" data-acc-cb>
      <div class="content" data-acc-c>
        {{ content }}
      </div>
    </div>
  </div>
  <!-- END - m-Accordion Item-->
{% endmacro %}

{% macro accordionLabel(label) %}
  <div class="default-label">{{ label }}</div>
{% endmacro %}
