<!DOCTYPE html>
<html class="no-js" lang="de">
   <head>
      <meta charset="utf-8">
      <title>{{ title }}</title>
      <meta name="description" content="Lorem description">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="format-detection" content="telephone=no">
   </head>
   <body class="preview preview--index">
      <article id="l-pagewrapper">
        <!-- start preview header -->
        <header id="prev-l-header">
          <div class="prev-l-constrainer">
            <div class="prev-m-title"><div class="prev-h1">Darvin Boilerplate</div></div>
            <nav class="prev-m-servicenav" data-module="lazy-prev-bar">
              <div class="prev-m-servicenav__item">
                <a class="prev-m-servicenav__link prev-m-servicenav__link--bundle" href="report.html" target="_blank">
                  <i class="i i-chart"></i>
                </a>
              </div>
            </nav>
          </div>
        </header>
        <!-- start main -->
        <main id="l-main" class="l-main--preview">
          <div id="l-content">
            {% block preview %}
            {% endblock %}
          </div>
        </main>
      </article>
    </body>
</html>
