{% extends "layouts/l00-preview/l00-preview.njk" %}

{% import "modules/m03-background/m03-background.njk" as mainTemplate %}

{% set variantName = "Default Variant" %}
{% set variantDescr = "default description" %}

{% macro main() %}
  <!-- START Preview - m02-footer -->
  {{ mainTemplate.main() }}
  <!-- END Preview - m02-footer -->
{% endmacro %}

{% block preview %}
  {{ main() }}
{% endblock %}
