/* ==|====================
   Modules / m02-footer
======================= */

.m-footer {
  width: 100%;

  .l-constrainer {
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
  }
}
