/* ==|====================
 Base
======================= */

@-ms-viewport {
  width: auto;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  font-variant-ligatures: none;
  &,
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  font-family: $font-1;
  color: #000;
  background-color: #fff;
}

::selection {
  color: #fff;
  background: #000;
}
