/* ==|====================
Base
======================= */

// http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that
// Prevents IE from overlapping transparent scrollbar
@-ms-viewport {
  width: auto;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  font-variant-ligatures: none;
  &,
  &:after,
  &:before {
    box-sizing: inherit;
  }
}

body {
  font-weight: 400;
  font-size: $base-font-size;
  font-family: $font-1;
  color: $color1;
  letter-spacing: 0.025rem;
  background-color: $color2;
}

body,
html {
  margin: 0;
  padding: 0;
}

::selection {
  color: $color2;
  background: $color5;
}

.h1-alike,
h1 {
  @extend %header-base;
  margin: 0;
  padding: $space-medium 0;
  line-height: 1.2;
  font-family: $font-1;
}

.h2-alike,
h2 {
  @extend %header-base;
  margin: 0;
  padding: $space-small 0;
  font-size: rem(24);
  line-height: 1.2;
}

.h3-alike,
h3 {
  @extend %header-base;
  font-weight: 600;
  font-size: rem(20);
  line-height: 1.5;
  font-family: $font-1;
  font-style: normal;
}

.h4-alike,
h4,
h5,
h6 {
  @extend %header-base;
  margin: 0;
  padding: em(21) 0 em(8);
  font-weight: 600;
  font-size: em(17);
  line-height: 1.5;
  font-family: $font-1;
  font-style: normal;
  @media #{$medium-up} {
    font-size: em(19);
  }
}

p {
  margin: 0;
  padding-bottom: 1rem;
  line-height: 1.7;
}

a {
  text-decoration: none;
}

.icon {
  width: 1.25rem;
  height: 1.25rem;
}

img {
  display: block;
  max-width: 100%;
  border: 0;
}

caption {
  line-height: 1;
}

button {
  @extend %clean-button;
  @extend %paragraph-base;
}

hr {
  height: rem(1px);
  margin: rem(20px) 0;
  padding: 0;
  background-color: black;
  border: 0;
}

input,
textarea {
  &::-ms-clear {
    display: none;
  }
}

label {
  @extend %paragraph-base;
}

figure {
  margin: 0;
}

figcaption {
  @extend %label-base;
  padding-top: em(10);
}

ul {
  $list-spacer: rem(4);
  margin: 0;
  padding-bottom: $space-medium;
  padding-left: rem(20);
  ul {
    padding-top: $list-spacer;
    padding-bottom: 0;
  }
  li {
    @extend %paragraph-base;
    margin-bottom: $list-spacer;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

ol {
  margin-left: 0;
  padding-left: 0;
  padding-left: 0;
  counter-reset: item;

  li {
    @extend %paragraph-base;
    display: block;
    padding-bottom: $space-medium;
    padding-left: 2.75rem;
    line-height: 1.5em;

    &:before {
      $size: rem(28);
      content: counter(item);
      position: absolute;
      display: block;
      width: $size;
      height: $size;
      margin: 0 $space-small $space-small -2.75rem;
      font-size: 0.9rem;
      line-height: 1.75;
      text-align: center;
      border: 1px solid rgba($color2, 0.8);
      border-radius: 50%;
      counter-increment: item;
    }
  }
}
